<!DOCTYPE html>
<html lang="en" ng-app="watch">
<head>
    <title>Watch List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="WatchListController.js"></script>

</head>
<body >
<div ng-controller="WatchController">
    <b>Watch list</b>
    <br>
    <br>
    <div>
        <input ng-model="morningGreeting">
        <input ng-model="afternoonGreeting">
    </div>
    <br>

    {{nightGreeting}}

    <ul>
        <li ng-repeat="og in otherGreetings">
            {{og}}
        </li>
    </ul>

    <div>
        <input ng-model="customGreeting">
        <br>
        <br>
        {{customGreetingCounter}}
    </div>

</div>
</body>
</html>
