<!DOCTYPE html>
<html lang="en">
<head>

  <title>HelloWorld</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="SimpleController.js"></script>
  <script src="SimpleService.js"></script>
</head>
  <body>
    <div ng-app='calculator' ng-controller = 'CalcController as calc'>
      <p>Simple Calculator</p>
      <div>
        Enter input <input type="number"ng-model='calc.num1'>
      </div>
      <div>
        Enter input <input type="number"ng-model='calc.num2'>
      </div>
      <p>add {{calc.add()}}</p>
      <p>Mult {{calc.multiply ()}}</p>
      <p>divide{{calc.divide()}}</p>
      <p>subtract {{calc.subtract()}}</p>


    </div>
  </body>
</html>
